body {
    background-color: #FFF9F2;
    margin: 0;
}

*{
    box-sizing: border-box;
}
h1, h2, h3 {
    font-family: 'buena-park-jf', serif;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    line-height: 100px;
    margin-bottom: 20px;
    color: #515B6C;
  }

  body, p, header {
    font-family: 'brandon-grotesque', sans-Serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 10px;
 }

header {
    width:100vw;
    top:0;
    right:0;
    height: 100px;
    background-color: #B46B4B;
}

a { text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    color: white;
}

a:hover {
    border-bottom: 4px solid white;
}

nav a {
    color: white;
}

.nav li {
    padding-right: 25px;
    z-index: 1;
}

.nav {
    font-size: 12pt;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.welcome {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.welcome img{
    padding: 15px;
    padding-top: 30px;
    height: 80vh;
    align-content: center;

}

.breadwall img {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100vw;
    width: 100vw;
    align-content: center;
}

.bakedgoods{
display: flex;
background-position:50%;
text-align: left;
}

.bakedgoods img{
display: flex;
background-position:50%;
height: 70vh;
width: 70vh;
padding: 15px;
}

.logolockup img {
    padding: 15px;
    height: 100vh;
    width: 100vw;
    align-content: center;
}

.seatingarea img {
    padding: 15px;
    height: 70vh;
    width: 70vw;
    align-content: center;
}

.button {
    border: 2px #515B6C;
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
}

div .businesscard{
    height: 60vh;
    width: 80vw;
    align-content: center;
}

.menu {
    height: 1000vh;
    width: 100vw;
    padding: 15px;
    align-content: center;
}

