h1 h2 h3 {
    font-family: 'Rubik', Sans-Serif;
    font-size: 70pt;
    line-height: 75px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
  }

  body p header {
    font-family: 'Karla', Sans-Serif;
    font-size: 20pt;
    margin: 10px;
 }

.backgroundimage{
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    position: absolute;
    bottom: 0;
    left: 0;
    
}

 header {
    width:100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    right:0;
    height: 100px;
}

nav ul.nav {
    position: absolute;
    top: 50px;
    right: 50px;
    list-style-type: none;
    display: flex;
}

nav li {
    padding-right: 20px;
}


.flexcontainer {
   display: flex;
   position: relative; 
   top: 200px;
   left: 700px;
}
