h1, h2, h3 {
    font-family: 'Rubik', Sans-Serif;
    font-size: 70px;
    line-height: 100px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
  }

  body, p, header {
    font-family: 'Karla', Sans-Serif;
    font-size: 20pt;
    margin: 10px;
 }

 header {
    width:100vw;
    top:0;
    right:0;
    height: 100px;
    
}

nav ul.nav {
    font-family: 'Rubik', Sans-Serif;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav li {
    padding-right: 20px;
    justify-content: flex-end;
    color: white;
}


.flexcontainer {
   display: flex 100%;
   position: relative; 
   top: 150px;
   text-align: center;
   font-family: 'Karla', Sans-Serif;
   font-size: 15pt;
}

h1 .flexcontainer {
    font-family: 'Rubik', Sans-Serif;
    font-size: 20pt;
}

.flexcontainer2 {
    display: flex 100%;
    position: relative; 
    top: 200px;
    left: 700px;
    text-align: left;
    font-family: 'Karla', Sans-Serif;
    font-size: 15pt;
}

h1 .flexcontainer2 {
    font-family: 'Rubik', Sans-Serif;
    font-size: 20pt;
}

.flexcontainer3 {
    display: flex 100%;
    position: relative; 
    top: 200px;
    left: 700px;
    text-align: left;
    font-family: 'Karla', Sans-Serif;
    font-size: 15pt;
}

h1 .flexcontainer3 {
    font-family: 'Rubik', Sans-Serif;
    font-size: 20pt;
}

.flexcontainer3 {
    display: flex 100%;
    position: relative; 
    top: 200px;
    left: 700px;
    text-align: left;
    font-family: 'Karla', Sans-Serif;
    font-size: 15pt;
    }
    
h1 .flexcontainer3 {
    font-family: 'Rubik', Sans-Serif;
    font-size: 20pt;
    }

.flexcontainer4 {
    display: flex 100%;
    position: relative; 
    top: 200px;
    left: 700px;
    text-align: left;
    font-family: 'Karla', Sans-Serif;
    font-size: 15pt;
    }
        
 h1 .flexcontainer4 {
    font-family: 'Rubik', Sans-Serif;
    font-size: 20pt;
    }

 .flexcontainer5 {
    display: flex 100%;
    position: relative; 
    top: 200px;
    left: 100px;
    text-align: left;
    font-family: 'Karla', Sans-Serif;
    font-size: 15pt;
    }
            
 h1 .flexcontainer5 {
    font-family: 'Rubik', Sans-Serif;
    font-size: 20pt;
    left: 100px;
    }

.rainforest-page .bottom-bg { 
        background-image: url('images/bottomelements-09.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
}

.rainforest-page .left-bottom-bg { 
    background-image: url('images/rainforestimg.png');
    bottom: -200px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 900px;
    width: 700px;
}

.rainforest-page .nav-bg {
    background-image: url('images/navbarelements-09.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

