h1 h2 h3 {
    font-family: 'Rubik', Sans-Serif;
    font-size: 70px;
    line-height: 100px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
  }

  body p header {
    font-family: 'Karla', Sans-Serif;
    font-size: 20pt;
    margin: 10px;
 }

 header {
    width:100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    right:0;
    height: 100px;
}

nav ul.nav {
    font-family: 'Rubik', Sans-Serif;
    position: absolute;
    top: 50px;
    right: 50px;
    list-style-type: none;
    display: flex;
}

nav li {
    padding-right: 20px;
}


.flexcontainer {
   display: flex 100%;
   position: relative; 
   top: 150px;
   text-align: center;
   font-family: 'Karla', Sans-Serif;
   font-size: 15pt;
}

h1 .flexcontainer {
    font-family: 'Rubik', Sans-Serif;
    font-size: 20pt;
}

.flexcontainer2 {
    display: flex 100%;
    position: relative; 
    top: 200px;
    left: 700px;
    text-align: left;
    font-family: 'Karla', Sans-Serif;
    font-size: 15pt;
}

h1 .flexcontainer2 {
    font-family: 'Rubik', Sans-Serif;
    font-size: 20pt;
}



